﻿
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/Admin/Statistics/Widgets/" class="logo">
                <img src="/AdminTeması/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index">
                        <i class="fas fa-desktop"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/">
                        <i class="fas fa-layer-group"></i>
                        <p>Profil Düzenle</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Category/CategoryList/">
                        <i class="fas fa-th-list"></i>
                        <p>Tur Kategoriler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/City/CityList/">
                        <i class="fas fa-map-marker"></i>
                        <p>Şehirler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Country/CountryList/">
                        <i class="
fas fa-map-marked"></i>
                        <p>Ülkeler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Destination/DestinationList/">
                        <i class="far fa-map"></i>
                        <p>Turlar</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Contact/ContactList/">
                        <i class="fas fa-restroom"></i>
                        <p>İletişim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Reservation/ReservationList/">
                        <i class="fas fa-chalkboard"></i>
                        <p>Rezervasyon</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Reservation/ReservationList/">
                        <i class="fas fa-users"></i>
                        <p>Rehberlerimiz</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a data-bs-toggle="collapse" href="#tables">
                        <i class="fas fa-id-card"></i>
                        <p>Admin Mesajlaşma</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse " id="tables">
                        <ul class="nav nav-collapse">
                            <li class="">
                                <a href="/Admin/Message/Inbox/">
                                    <span class="sub-item">Gelen Kutusu</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Message/Sendbox/">
                                    <span class="sub-item">Giden Kutusu</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#maps">
                        <i class="fas fa-laptop-code"></i>
                        <p>Hata Sayfaları</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/ErrorPages/Page404/">
                                    <span class="sub-item">404</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Statistics/Index/">
                        <i class="fas fa-chart-line"></i>
                        <p>İstatistikler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/CreditCard/Index/">
                        <i class="far fa-credit-card"></i>
                        <p>Kredi Kartı</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login/LogOut">
                        <i class="
fas fa-caret-square-left"></i>
                        <p>Çıkış Yap</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>