@model TravelProject.Models.Admin
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">

    <br />
    <br />

    <div class="alert alert-warning"> <h3> Kullanıcı Giriş Ekranı </h3></div>
    <br />

    <form method="post">
    <label>Kullanıcı Adınız</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />

    <label>Şifre</label>
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary"> Giriş Yap</button>
    </form>
</div>
