@model TravelProject.Models.Admin
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">

    <br />
    <br />

    <div class="alert alert-warning"> <h3>Yeni Kullanıcı Kayıt Sayfası </h3></div>
    <br />
    <label>Kullanıcı Adınız</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />

    <label>Şifre</label>
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    <br />

</div>
