
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="/kart/style.css">





    <div class="col1 col-lg-8">
        <div class="card">
            <div class="front">
                <div class="type">
                    <img class="bankid" />
                </div>
                <span class="chip"></span>
                <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
                <div class="date"><span class="date_value">MM / YYYY</span></div>
                <span class="fullname">Adınız Soyadınız</span>
            </div>
            <div class="back">
                <div class="magnetic"></div>
                <div class="bar"></div>
                <span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
                <span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
            </div>
        </div>
    </div>
    <div class="col2 col-lg-4">
        <label>Kart Numarası</label>
        <input class="number" type="text" ng-model="ncard" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
        <label>Kart Sahibi Adı</label>
        <input class="inputname" type="text" placeholder="" />
        <label>Son Kullanma Tarihi</label>
        <input class="expire" type="text" placeholder="MM / YYYY" />
        <label>Güvenik Numarası</label>
        <input class="ccv" type="text" placeholder="CVC" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
        <button class="buy"><i class="material-icons">lock</i> Ödeme Yap</button>
    </div>



<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src="/kart/script.js"></script>

