@model TravelProject.Models.Message
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">

    <label>Alıcı Mail</label>
    @Html.DropDownListFor(x => x.ReceiverAdminId, (List<SelectListItem>)ViewBag.Sendmessage, new { @class = "form-control" })
    <br />

    <label>Konu</label>
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Content, 5, 0, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Mesajı Gönder</button>

</form>
