@model List<TravelProject.Models.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<table class=" table mt-3">

    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">Durum</th>
            <th scope="col">sil</th>
            <th scope="col">güncelle</th>
        </tr>

    </thead>

    <tbody>
        @foreach(var item in Model)
            {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryStatus</td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-success">Güncelle</a></td>
            </tr>
            }
        
    </tbody>  
</table>
<br />
<a href="" class="btn btn-primary">Yeni Kategori Girişi</a>
